/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  height: 7vh;
}
header nav a {
  float: right;
}
header a {
  padding-top: 2%;
  text-decoration: none;
  color: black;
  margin-left: 2%;
}
.intro {
  background-color: lightgrey;
  padding: 5% 3%;
}
.coder {
  width: 40%;
}
h1 {
  font-size: 50px;
}
.name {
  border-bottom: 1px solid black;
  padding-bottom: 2%;
}
.intro-para {
  margin-top: 2%;
}
button {
  background: grey;
  border: 1px solid black;
  width: 14%;
  padding: 1%;
  color: white;
  border-radius: 8px;
  margin-top: 3%;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
.bot-out {
  display: flex;
  justify-content: space-between;
  background: red;
  padding: 2% 0;
}
.bot-in {
  width: 50%;
  background: green;
}
li {
  padding: 2%;
  border: 1px solid grey;
}
.history {
  background: teal;
}
footer {
  background-color: grey;
  text-align: center;
  color: white;
  padding: 2% 4% 4%;
}
