// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
 
// Code starts here
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

@main-color: #FFDAB9;
@sub-main-color:#AFEEEE;
@main-font: #A9A9A9;
@main-font-fam: 'Quicksand', sans-serif;
@sub-main-font-fam:'Dosis', sans-serif;

.bordered(){
	border: 1px dotted grey;
}
.centered(){
	display:flex;
	justify-content:center;
}

.container{
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}
header{
	height: 4vh;
	display: flex;
	justify-content: flex-end;
	margin-top: 5%;
	a{
	text-decoration: none;
	color: @main-font; 
	font-family: @main-font-fam;
	font-size: 20px;
	padding-left: 7%;
	}// end of a
		nav{
		width: 50%;
		}//end of nav
		@media(max-width: 500px){
			a{
			padding-left: 3%;
			}//end of a 500px
			nav{
			width:80%;
			}//end of nav 500px
		}// end of media 500px
}// end of header

.intro{
	background-color: @main-color;
	padding: 5% 3%;
	font-family: @main-font-fam;
	@media(max-width: 500px){
			padding: 2%;
			margin: 1%;
	}//end of media 500 px
} // end of intro
.coder {
	width: 60%;
	@media(max-width: 500px){
	width: 100%;
		}//end of media 500px
}//end of coder
h1{
	font-size: 50px;
}
.name{
	.bordered();
	padding-bottom: 2%;
	@media(max-width: 500px){
		text-align: center;
	}//end of media 500px
}//end of name

.intro-para{
	margin-top: 3%;
	@media(max-width: 500px){
		text-align: center;
	} //end of into part 500px
}//end of intro-part
button{
	background: @sub-main-color;
	.bordered();
	width: 18%;
	padding: 1%;
	border-radius: 8px;
	margin-top: 3%;
	@media(max-width: 500px){
		width: 100%;
	}
}
h2{
	font-size: 30px;
}
h3{
	font-size: 20px;
}
.bot-out{
	display: flex;
	justify-content: space-evenly;
	padding:2%;
	margin-top: 2%;
	@media(max-width: 500px){
		flex-direction: column;
		align-items: center;
		padding: 0;
	} //end of media 500px
}//end of box-out
.bot-in{
	width: 50%;
	font-family: @sub-main-font-fam;
	padding: 1%;
	@media(max-width: 500px){
		width: 80%;
		text-align: center;
	}
}
li{
	padding:3%;
	.bordered();
}
.history{
	margin: 2%;
	text-align: center;
	font-family: @main-font-fam;
}
#work-history{
	width: 100%;
	border: 1px solid black;
	padding: 8%;
	margin: 2% 0;
}
#work-history td, #work-history th{
	.bordered();
	padding: 1%;
	text-align: center;
}
#work-history td{
	color:@main-font;
	}
footer{
	background-color: grey;
	text-align: center;
	color: white;
	padding: 2% 4% 4%;
	margin: 0 -1%;
	font-family: @sub-main-font-fam;
	.centered();
} 